---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AlignOperands: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Inline
BraceWrapping:
  AfterCaseLabel: true
  IndentBraces: true
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ColumnLimit: 180
IndentWidth: 4
PenaltyBreakFirstLessLess: 180
PointerAlignment: Left
SortIncludes: Never
SpaceBeforeParensOptions:
  AfterControlStatements: false